body{
    background-color: $primary;
    font-family: $font, 'Arial', 'sans-serif';
    font-weight: $normal;
    color: $white;
    padding: 10vh 10vw;
    line-height: 1.3em;
}

.fz--sm{
    font-size: 0.6rem;
}

.text-sm-not-truncate{
    @media (min-width:575px){
        white-space: initial;
    }
}

.hover-right{
    .receives-hover-right{
        transition: 0.3s transform ease-out;
    }
    &:hover{
        .receives-hover-right{
            transition: 0.3s transform ease-out;
            transform: translateX(10px);
        }
    }
}

.w-30-px{
    width: 30px;
}